
<p style="color: green"><%= notice %></p>

Aluno: <%= @invoice.enrollment.student.name %><br>
Valor: <%= @invoice.value %><br>
Data de vencimento: <%= @invoice.due_date %><br>
Status: <%= @invoice.status %><br>

<br><br>

<%= button_to "Editar", edit_invoice_path(@invoice) %>
<%= button_to "Deletar", @invoice, method: :delete, data: {confirm: 'Tem certeza?'}  %>

<br><br>

<%= link_to "Voltar", invoices_path %>
