<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= student.cpf %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= student.birth_date %>
  </p>

  <p>
    <strong>Cell:</strong>
    <%= student.cell %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= student.gender %>
  </p>

  <p>
    <strong>Type payment:</strong>
    <%= student.type_payment %>
  </p>

</div>
