<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Total value:</strong>
    <%= enrollment.total_value %>
  </p>

  <p>
    <strong>N invoice:</strong>
    <%= enrollment.n_invoice %>
  </p>

  <p>
    <strong>Due day:</strong>
    <%= enrollment.due_day %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= enrollment.course %>
  </p>

</div>
