<p style="color: green"><%= notice %></p>

<h1>Matrículas</h1>

<table>
  <thead>
    <tr>
      <th>Aluno</th>
      <th>IES</th>
      <th>Curso</th>
      <th>Valor Total</th>
      <th>Quantidade de faturas </th>
      <th>Dia de vencimento</th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.student.name %></td>
        <td><%= enrollment.institution.name %></td>
        <td><%= enrollment.course %></td>
        <td><%= enrollment.total_value %></td>
        <td><%= enrollment.n_invoice %></td>
        <td><%= enrollment.due_day %></td>
        <td><%= link_to "Mostrar", enrollment %></td>
        <td><%= link_to "Editar", edit_enrollment_path(enrollment) %></td>
        <td><%= link_to "Deletar", enrollment, method: :delete, data: {confirm: 'Tem certeza?'} %></td>
      </tr>
      <% end %>
  </tbody>
</table>

<br>

<%= link_to "Nova Matrícula", new_enrollment_path %>
